* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 376px) {
    body {
        display: flex;
        background: hsl(0, 0%, 95%);
    }
    
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        max-width: 900px;
        height: 500px;
        margin: 0 auto;
        margin-top: 10vh;
    }
    
    .container-s1, .container-s2, .container-s3 {
        padding: 45px 80px 45px 45px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background:  hsl(31, 77%, 52%);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .container-s2 {
        background: hsl(184, 100%, 22%);
        border-radius: 0;
    }
    
    .container-s3 {
        background: hsl(179, 100%, 13%);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .container-s1 img, .container-s2 img, .container-s3 img {
        width: 30%;
    }
    
    .container-s1 h2, .container-s2 h2, .container-s3 h2 {
        font-size: 38px;
        margin-top: -20px;
        color: hsl(0, 0%, 95%);
    }
    
    .container-s1 p, .container-s2 p, .container-s3 p {
        font-size: 15px;
        margin-bottom: 50px;
        line-height: 1.8;
        color: hsla(0, 0%, 100%, 0.75);
    }
    
    .container-s1 button, .container-s2 button, .container-s3 button {
        width:fit-content;
        padding: 12px 30px;
        border-radius: 30px;
        border: 3px solid hsl(0, 0%, 95%);
        background: hsl(0, 0%, 95%);
        color: hsl(31, 77%, 52%);
        font-weight: 700;
        transition: all 0.2s ease-in-out;
    }
    
    .container-s1 button:hover, .container-s2 button:hover, .container-s3 button:hover {
        background: transparent;
        border: 3px solid hsl(0, 0%, 95%);
        color: hsl(0, 0%, 95%);
    }
    
    .container-s2 button {
        color:hsl(184, 100%, 22%);
    }
    
    .container-s3 button {
        color:hsl(179, 100%, 13%);
    }
}

@media screen and (max-width:375px) {
    
    body {
        background: hsl(0, 0%, 95%);
    }

    .container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 8vh;    
    }

    .container-s1, .container-s2, .container-s3 {
        padding: 45px 45px 45px 45px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background:  hsl(31, 77%, 52%);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .container-s2 {
        background: hsl(184, 100%, 22%);
        border-radius: 0;
    }
    
    .container-s3 {
        background: hsl(179, 100%, 13%);
        border-top-left-radius: 0;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 10px;
    }
    
    .container-s1 img, .container-s2 img, .container-s3 img {
        width: 30%;
    }
    
    .container-s1 h2, .container-s2 h2, .container-s3 h2 {
        font-size: 38px;
        margin: 24px 0px;
        color: hsl(0, 0%, 95%);
    }
    
    .container-s1 p, .container-s2 p, .container-s3 p {
        font-size: 15px;
        margin: 11px 0px 25px 0px;
        line-height: 1.8;
        color: hsla(0, 0%, 100%, 0.75);
    }
    
    .container-s1 button, .container-s2 button, .container-s3 button {
        width:fit-content;
        padding: 12px 30px;
        border-radius: 30px;
        border: 3px solid hsl(0, 0%, 95%);
        background: hsl(0, 0%, 95%);
        color: hsl(31, 77%, 52%);
        font-weight: 700;
        transition: all 0.2s ease-in-out;
    }
    
    .container-s1 button:hover, .container-s2 button:hover, .container-s3 button:hover {
        background: transparent;
        border: 3px solid hsl(0, 0%, 95%);
        color: hsl(0, 0%, 95%);
    }
    
    .container-s2 button {
        color:hsl(184, 100%, 22%);
    }
    
    .container-s3 button {
        color:hsl(179, 100%, 13%);
    }
}